    .navbar-default{
      background-color: white;
      border-bottom: 2px solid #800000;
    }
    
    .color-me {
      color: blue;
    }
    
    span {
      margin: 2px;
    }
    li{
      margin: 2px;
    }
    
    .footer {
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 2px solid #800000;
      height: 100px;
      background-color: #800000;
    }
    
    #footer_left {
      padding-left: 35px;
      padding-top: 20px;
    }
    
    .footer_slogan {
        font-family: 'Monotype Corsiva', cursive;
        color: #DAA520;
        font-size: 29px;
        line-height: 90%;
    }
    
    #footer_right{
      padding-right: 30px;
      padding-top: 15px;
      color: #F5DEB3;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-instagram {
      background: #FF1493;
      color: white;
    }
    
    .fa {
      padding: 5px;
      font-size: 10px;
      width: 20px;
      text-align: center;
      text-decoration: none;
      margin: 2px 2px;
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0px 0px 2px #888;
    }
    
    .button {
      display: inline-block;
      border-radius: 6px;
      background-color: #4682B4;
      border: none;
      color: white;
      text-align: center;
      font-size: 14px;
      padding: 5px;
      width: 130px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  